@import url("https://fonts.googleapis.com/css?family=Nunito");

#PalVideoMiniature .palAnimatedBg,
#PalVideoMiniature .palAnimatedBg2,
#PalVideoMiniature .content {
    position: fixed;
    left: 100px;
    bottom: 100px;
    border-radius: 50%;
}

#PalVideoMiniature .palAnimatedBg {
    background-color: #1A1E25;
    z-index: 1098;
    animation: fadeCircle 1s infinite;
    /* animation-direction: alternate; */
    animation-timing-function: ease-in;
}

#PalVideoMiniature .palAnimatedBg2 {
    background-color: #1A1E25;
    z-index: 1097;
    animation: fadeCircle2 1s infinite;
    animation-timing-function: ease-in;
}

#PalVideoMiniature .content {
    background-color: blueviolet;
    z-index: 1099;

    animation: fadeAndScaleIn .5s;
    animation-timing-function: linear;
    transition-duration: 300ms;
    cursor: pointer;
}

#PalVideoMiniature .content:hover {
    transform: scale(1.05);
}

#PalVideoMiniature video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* --------------------------------------- */
/* Pal brand video css styles               */
/* --------------------------------------- */
.pal-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #563BFF;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 0 0 16px 16px;
    font-size: 16px;
    font-weight: 100;
    z-index: 1101;
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
}

.pal-brand img {
    height: 16px;
    margin-left: 5px;
}

/* --------------------------------------- */
/* Expanded video css styles               */
/* --------------------------------------- */

#PalVideoExpanded .content {
    position: fixed;
    left: 32px;
    bottom: 32px;
    width: 350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    border-radius: 16px;

    @media screen and (max-width: 640px) {}

    @media screen and (min-width: 641px) and (max-width: 1200px) {}

    @media screen and (min-width: 1201px) {}
}

#PalVideoExpanded video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
}

#PalVideoExpanded .author {
    font-family: 'Nunito';
    position: absolute;
    bottom: 70px;
    left: 16px;
    right: 16px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 16px;
}

#PalVideoExpanded .author .name {
    font-size: 18px;
    font-weight: bold;
}

#PalVideoExpanded .author .role {
    font-size: 16px;
    font-weight: normal;
    opacity: .6;
    margin-top: 4px;
}

#PalVideoExpanded .PalVideoExpandedSkipBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1102;
}

/* --------------------------------------- */
/* Survey video css styles               */
/* --------------------------------------- */
#PalVideoExpanded .content .inner-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0;
    border-radius: 16px;
    z-index: 1100;
}

.pal-form-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    z-index: 1101;
    animation: fadeIn .2s;
    animation-timing-function: ease-in;
}

.pal-form {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1102;
}

.pal-form .question {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito';

    max-height: 260px;
    overflow-y: scroll;

    animation-delay: 500ms;
    animation: fadeIn .4s;
    animation-timing-function: ease-in;
}

.pal-form .choices {
    margin-top: 32px;
    animation-delay: 1000ms;
    animation: fadeIn .4s;
    animation-timing-function: ease-in;
}

.pal-form .choices .choice {
    cursor: pointer;
    padding: 16px 24px;
    color: #0F0F0F;
    font-size: 18px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-family: 'Nunito';

    overflow: scroll;
    max-height: 90px;
    word-break: break-word;
}

.pal-form .choices .choice:hover {
    background-color: #60E78D;
}

/* --------------------------------------- */
/* ELEMENTS  */
/* --------------------------------------- */

.palBtn {
    border: none;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
}

.palBtn:hover {
    cursor: pointer;
}

/* --------------------------------------- */
/* ANIMATIONS                              */
/* --------------------------------------- */
@keyframes fadeAndScaleIn {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    30% {
        transform: scale(1);
        opacity: .8;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeCircle {
    from {
        transform: scale(1);
        opacity: .15;
    }

    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes fadeCircle2 {
    from {
        transform: scale(1);
        opacity: .1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}